<div
	class="grid items-center justify-center justify-items-center pt-3 gap-2 grid-cols-12"
>
	@for (item of productsList(); track item.id) {
	<div class="product-card md:col-span-3 col-span-12">
		<div
			[routerLink]="['/itemDetails', item.id]"
			class="card grid grid-rows-2 p-3 rounded-md bg-white shadow border cursor-pointer overflow-hidden"
		>
			<div
				class="row-span-1 flex justify-center items-center my-1 group/item"
			>
				<div
					class="h-[180px] w-full relative group-hover/item:scale-110 duration-300"
				>
					<img
						[ngSrc]="item.image"
						class="object-contain"
						fill
						[alt]="item.title"
					/>
				</div>
			</div>
			<div class="body row-span-1 self-end cursor-auto">
				<h2 class="text-lg">
					{{ item.title.split(" ", 2).join(" ") }}
				</h2>
				<span class="text-yellow-500"
					>{{ item.rating.rate }} @for (item of
					[1,2,3,4,5].splice(0,item.rating.rate); track $index) {<i
						class="ri-star-fill"
					></i
					>}
				</span>
				<span class="text-gray-500"> ({{ item.rating.count }}) </span>
				<p class="text-gray-600 text-sm">
					{{ item.description.split(" ", 15).join(" ") }}
				</p>
				<span class="text-2xl"
					>E{{ item.price | currency : "GBP" }}</span
				>
				<div class="buttons mt-3 flex items-center">
					<button
						class="px-4 py-2 col-10 bg-blue-500 hover:bg-blue-400 duration-300 text-white rounded flex justify-center items-center text-nowrap"
					>
						Add To Cart
					</button>
					<span class="col-2 flex justify-end items-center">
						<i class="ri-heart-line text-2xl text-gray-600"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	}
</div>
