i {
	position: relative;
	display: inline-block;
	font-size: 1rem;
	padding-right: 0.1rem;
	color: #d3d3d3;
}

.filled {
	color: #ffe234;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.add-btn {
	transition: all 0.5s;
	background-color: #22db14;
	color: white;
}
.add-btn:hover {
	color: white !important;
	filter: brightness(0.8);
}

.fa-heart:hover {
	color: red !important;
}
