<section>
	@if (step() === 0) {
	<h2 class="my-4">Please enter your Email</h2>
	<form [formGroup]="checkEmailForm" (ngSubmit)="checkEmail()">
		<div class="form-floating mb-3">
			<input [ngClass]="{
					'is-invalid':
						checkEmailForm.get('email')?.errors &&
						checkEmailForm.get('email')?.touched,
					'is-valid':
						!checkEmailForm.get('email')?.errors &&
						checkEmailForm.get('email')?.touched
				}" formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
			<label for="floatingInput">Email address</label>
		</div>
		@if (checkEmailForm.get('email')?.errors &&
		checkEmailForm.get('email')?.touched ||
		checkEmailForm.get('email')?.errors &&
		checkEmailForm.get('email')?.dirty) {
		<div class="alert alert-danger">
			@if (checkEmailForm.get('email')?.getError('required')) {
			<p class="m-0">Email is Required</p>
			} @if (checkEmailForm.get('email')?.getError('email')) {
			<p class="m-0">
				Your Email Should be in a Valid Format Like mail"&#64;"mail.com
			</p>
			}
		</div>
		}
		<div>
			<!-- Submit Button -->
			<button [disabled]="checkEmailForm.invalid || isLoading()" type="submit"
				class="btn btn-success btn-lg d-block me-auto">
				@if (isLoading()) {
				<i class="fa-solid fa-spinner fa-spin"></i>
				}@else { Submit }
			</button>
		</div>
	</form>

	} @if (step() === 1) {
	<h2 class="my-4">Please enter your verification code</h2>
	<form [formGroup]="checkCodeForm" (ngSubmit)="checkCode()">
		<div class="form-floating mb-3">
			<input [ngClass]="{
					'is-invalid':
						checkCodeForm.get('resetCode')?.errors &&
						checkCodeForm.get('resetCode')?.touched,
					'is-valid':
						!checkCodeForm.get('resetCode')?.errors &&
						checkCodeForm.get('resetCode')?.touched
				}" formControlName="resetCode" type="text" class="form-control" id="floatingInput" placeholder="xxxxxx" />
			<label for="floatingInput">Code</label>
		</div>
		@if (checkCodeForm.get('resetCode')?.errors &&
		checkCodeForm.get('resetCode')?.touched) {
		<div class="alert alert-danger">
			@if (checkCodeForm.get('resetCode')?.getError('required')) {
			<p class="m-0">Code is Required</p>
			} @if (checkCodeForm.get('resetCode')?.getError('pattern')) {
			<p class="m-0">Your Code Should be 6 digits</p>
			}
		</div>
		}
		<div>
			<!-- Submit Button -->
			<button [disabled]="checkEmailForm.invalid || isLoading()" type="submit"
				class="btn btn-success btn-lg d-block me-auto">
				@if (isLoading()) {
				<i class="fa-solid fa-spinner fa-spin"></i>
				}@else { Submit }
			</button>
		</div>
	</form>

	} @if (step() === 2) {
	<h2 class="my-4">Please enter your Email</h2>
	<form [formGroup]="checkNewPasswordForm" (ngSubmit)="checkNewPassword()">
		<div class="form-floating mb-3">
			<input [ngClass]="{
					'is-invalid':
						checkEmailForm.get('email')?.errors &&
						checkEmailForm.get('email')?.touched,
					'is-valid':
						!checkEmailForm.get('email')?.errors &&
						checkEmailForm.get('email')?.touched
				}" readonly formControlName="email" type="email" class="form-control" id="floatingInput"
				placeholder="name@example.com" />
			<label for="floatingInput">Email address</label>
		</div>
		@if (checkNewPasswordForm.get('email')?.errors &&
		checkNewPasswordForm.get('email')?.touched ||
		checkNewPasswordForm.get('email')?.errors &&
		checkNewPasswordForm.get('email')?.dirty) {
		<div class="alert alert-danger">
			@if (checkNewPasswordForm.get('email')?.getError('required')) {
			<p class="m-0">Email is Required</p>
			} @if (checkNewPasswordForm.get('email')?.getError('email')) {
			<p class="m-0">
				Your Email Should be in a Valid Format Like mail"&#64;"mail.com
			</p>
			}
		</div>
		}
		<div class="form-floating mb-3">
			<input [ngClass]="{
					'is-invalid':
						checkEmailForm.get('newPassword')?.errors &&
						checkEmailForm.get('newPassword')?.touched,
					'is-valid':
						!checkEmailForm.get('newPassword')?.errors &&
						checkEmailForm.get('newPassword')?.touched
				}" formControlName="newPassword" type="password" class="form-control" id="floatingPassword"
				placeholder="Password" />
			<label for="floatingPassword">Password</label>
		</div>
		@if (checkNewPasswordForm.get('newPassword')?.errors &&
		checkNewPasswordForm.get('newPassword')?.touched ||
		checkNewPasswordForm.get('newPassword')?.errors &&
		checkNewPasswordForm.get('newPassword')?.dirty) {
		<div class="alert alert-danger">
			@if (checkNewPasswordForm.get('newPassword')?.getError('required'))
			{
			<p class="m-0">Password is Required</p>
			} @if (checkNewPasswordForm.get('newPassword')?.getError('pattern'))
			{
			<p class="m-0">Password Must be longer than 6 Characters</p>
			}
		</div>
		}
		<div>

			<!-- Submit Button -->
			<button [disabled]="checkEmailForm.invalid || isLoading()" type="submit"
				class="btn btn-success btn-lg d-block me-auto">
				@if (isLoading()) {
				<i class="fa-solid fa-spinner fa-spin"></i>
				}@else { Submit }
			</button>
		</div>
	</form>
	}
</section>