<section class="my-4">
	<h1 class="text-center mb-5 text-main-color">All Brands</h1>
	<div class="row g-4">
		@if (AllBrands()) {
		@for (item of AllBrands(); track item._id) {
		<div class="col-md-3">
			<ng-template #content let-modal>
				<div class="modal-header">
					<h4 class="modal-title" id="modal-basic-title">Brand Name</h4>
					<button type="button" class="btn-close" aria-label="Close"
						(click)="modal.dismiss('Cross click')"></button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row flexx">
							<div class="col-md-6">
								<h2 class="text-main-color">{{item.name}}</h2>
								<p>{{item.name}}</p>
							</div>
							<div class="col-md-6">
								<img class="img-fluid" [src]="item.image" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary"
						(click)="modal.close('Save click')">Exit</button>
				</div>
			</ng-template>
			<div (click)="open(content)" class="cursor-pointer">
				<div class="card">
					<img [src]="item.image" class="card-img-top" alt="{{item.name}}">
					<div class="card-body">
						<h5 class="card-title">{{item.name}}</h5>
					</div>
				</div>
			</div>
		</div>
		}
		}
	</div>

</section>