<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<section class="py-5 bg-base-100 rounded-2">
	<div class="form-floating my-5 w-75 mx-auto">
		<input
			[value]="searchTerm()"
			(input)="onInput($event)"
			type="search"
			class="form-control"
			id="floatingInput"
			placeholder=" Search by name ..." />
		<label for="floatingInput"> Search by name ...</label>
	</div>
	<div class="row d-flex justify-content-center align-items-start g-1">
		@if (allProdRes()) { @for (prod of allProdRes() | searchFilter : searchTerm() ; track
		prod._id){
		<div class="col-6 col-sm-4 col-md-3">
			<div class="rounded bg-base-100 w-full shadow-md border border-black">
				<figure class="px-2 pt-2 flexx">
					<img
						[routerLink]="['/ProductDetails', prod._id]"
						[src]="prod.imageCover"
						alt="{{ prod.title }}"
						class="rounded-md size-[150px] object-cover object-center cursor-pointer" />
				</figure>
				<div class="p-2 flex flex-wrap gap-2 justify-start items-start">
					<h2
						[routerLink]="['/ProductDetails', prod._id]"
						class="card-title text-sm md:text-lg cursor-pointer text-nowrap w-full">
						{{ prod.title.split(" ", 2).join(" ") }}
					</h2>
					<div class="card-actions flex-wrap w-full">
						<div
							class="badge md:text-xs text-nowrap text-[10px] badge-outline hover:cursor-pointer duration-300 hover:bg-blue-300 hover:shadow">
							{{ prod.brand.name }}
						</div>
						<div
							class="badge md:text-xs text-nowrap text-[10px] badge-outline hover:cursor-pointer duration-300 hover:bg-blue-300 hover:shadow">
							{{ prod.category.name }}
						</div>
					</div>
					<div class="w-full flexx justify-content-start">
						@for (i of [1,2,3,4,5].slice(0,prod.ratingsAverage) ; track $index) {
						<i class="fa-solid fa-star text-yellow-500"></i>
						} @for (i of [1,2,3,4,5].slice(prod.ratingsAverage) ; track $index) {
						<i class="fa-regular fa-star text-[#d3d3d3]"></i>
						}
						<span class="badge badge-outline text-[10px]">{{ prod.ratingsAverage }}</span>
					</div>
					<div class="card-actions">
						<button
							(click)="addToCart(prod._id)"
							class="btn btn-primary p-1 cursor-pointer duration-300 group/btn">
							Add to Cart
							<span class="hidden duration-300 group-hover/btn:block">
								<i class="fa-solid fa-cart-arrow-down text-white"></i>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>

		} }
	</div>
</section>
