<div class="navbar bg-base-100 flex items-center justify-between gap-4">
	<div class="w-1/4 md:w-1/6 flexx">
		<span class="rounded-md cursor-pointer text-info p-2 text-2xl">SOUQ</span>
	</div>
	<div class="w-3/4 md:w-5/6 flex justify-between">
		<div class="w-8/12 relative">
			<i
				class="fa-solid fa-magnifying-glass absolute top-1/2 -translate-y-1/2 left-2 text-gray-400"></i>
			<input
				type="text"
				placeholder="Search"
				class="w-full me-4 input input-bordered ps-10" />
		</div>
		<div class="hidden md:block w-4/12">
			<div class="flex gap-4 justify-evenly w-full text-gray-400">
				<button
					class="block"
					routerLink="home"
					routerLinkActive="text-primary">
					<div class="flex flex-col gap-1 justify-center">
						<i class="fa-solid fa-house"></i>
						<span class="font-normal text-sm">Home</span>
					</div>
				</button>

				<button
					routerLink="wishlist"
					routerLinkActive="text-primary">
					<div class="flex flex-col gap-1 justify-center">
						<i class="fa-solid fa-heart"></i>
						<span class="font-normal text-sm">Wishlist</span>
					</div>
				</button>
				<button
					routerLink="cart"
					routerLinkActive="text-primary">
					<div class="flex flex-col gap-1 justify-center">
						<i class="fa-solid fa-cart-shopping"></i>
						<span class="font-normal text-sm">Cart</span>
					</div>
				</button>
				<button
					routerLink="profile"
					routerLinkActive="text-primary">
					<div class="flex flex-col gap-1 justify-center">
						<i class="fa-solid fa-user"></i>
						<span class="font-normal text-sm">Me</span>
					</div>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="md:hidden">
	<div class="btm-nav shadow-md z-50 text-gray-400">
		<button
			class=""
			routerLink="home"
			routerLinkActive="text-primary">
			<div class="flex flex-col gap-1 justify-center">
				<i class="fa-solid fa-house"></i>
				<span class="font-normal text-sm">Home</span>
			</div>
		</button>
		<button
			routerLink="categories"
			routerLinkActive="text-primary">
			<div class="flex flex-col gap-1 justify-center">
				<i class="fa-solid fa-layer-group"></i>
				<span class="font-normal text-sm">Categories</span>
			</div>
		</button>
		<button
			routerLink="wishlist"
			routerLinkActive="text-primary">
			<div class="flex flex-col gap-1 justify-center">
				<i class="fa-solid fa-heart"></i>
				<span class="font-normal text-sm">Wishlist</span>
			</div>
		</button>
		<button
			routerLink="cart"
			routerLinkActive="text-primary">
			<div class="flex flex-col gap-1 justify-center">
				<i class="fa-solid fa-cart-shopping"></i>
				<span class="font-normal text-sm">Cart</span>
			</div>
		</button>
		<button
			routerLink="profile"
			routerLinkActive="text-primary">
			<div class="flex flex-col gap-1 justify-center">
				<i class="fa-solid fa-user"></i>
				<span class="font-normal text-sm">Me</span>
			</div>
		</button>
	</div>
</div>
