<!-- <nav
	#navbar
	class="bg-white bg-opacity-85 backdrop-blur-sm z-50 fixed top-0 w-full border-gray-200 rounded-b-md shadow-sm mb-1"
>
	<div
		class="max-w-screen-2xl grid grid-col-12 grid-row-1 items-center justify-content-evenly mx-auto duration-300"
		[class]="this._NavbarBlankService.isScrolled() ? 'p-2' : 'p-4'"
	>
		<a
			class="flex col-span-2 items-center justify-center space-x-3 rtl:space-x-reverse"
			routerLink="home"
		>
			<span
				class="text-2xl hover:opacity-70 cursor-pointer duration-300 font-semibold whitespace-nowrap text-blue-600"
				>SOUQ</span
			>
		</a>
		<div class="col-span-7 relative justify-center items-center">
			<div
				class="absolute top-2 left-5 flex justify-center items-center text-gray-500"
			></div>
			<input
				class="ps-9 w-72"
				type="text"
				pInputText
				[(ngModel)]="q"
				placeholder="What do you think of ? ... "
			/>
		</div>
		<div class="col-span-3 row justify-center items-center">
			<div
				routerLink="wishlist"
				class="col-2 text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<span
					class="text-nowrap text-inherit group-hover/link:opacity-70 duration-300"
					>My Wishlist</span
				>
			</div>
			<div
				routerLink="cart"
				class="col-2 text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<span
					class="text-nowrap text-inherit group-hover/link:opacity-70 duration-300"
					>My Cart</span
				>
			</div>
			<div
				routerLink="profile"
				class="col-2 text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<span
					class="text-nowrap text-inherit group-hover/link:opacity-70 duration-300"
					>Me</span
				>
			</div>
		</div>
	</div>
</nav> -->

<nav
	#navbar
	class="bg-white p-1 bg-opacity-85 backdrop-blur-sm z-50 fixed top-0 w-full border-gray-200 rounded-b-md shadow-sm mb-1"
>
	<div
		[class]="this._NavbarBlankService.isScrolled() ? 'p-0' : 'p-3'"
		class="grid grid-cols-12 justify-items-center items-center mx-auto duration-300"
	>
		<a
			class="col-span-2 items-center justify-center space-x-3 rtl:space-x-reverse"
			routerLink="home"
		>
			<span
				class="text-3xl hover:opacity-70 cursor-pointer duration-300 font-semibold whitespace-nowrap text-blue-600"
				>SOUQ</span
			>
		</a>
		<div class="col-span-7 p-1">
			<input
				class="w-96 p-2 border rounded"
				type="search"
				[(ngModel)]="q"
				placeholder="What do you think of ? ... "
			/>
		</div>
		<div
			class="col-span-3 grid grid-cols-3 gap-3 justify-items-center justify-center items-center"
		>
			<div
				routerLink="wishlist"
				class="col-2 text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<i class="ri-heart-line hover:ri-heart-fill text-2xl"></i>
				<span
					class="text-nowrap text-inherit group-hover/link:opacity-70 duration-300"
					>My Wishlist</span
				>
			</div>
			<div
				routerLink="cart"
				class="col-2 text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<i class="ri-shopping-cart-line text-2xl"></i>
				<span
					class="text-nowrap text-inherit group-hover/link:opacity-70 duration-300"
					>My Cart</span
				>
			</div>
			<div
				routerLink="profile"
				class="col-2 text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<i class="ri-user-line text-2xl"></i>
				<span
					class="text-nowrap text-inherit group-hover/link:opacity-70 duration-300"
					>Me</span
				>
			</div>
		</div>
	</div>
</nav>
