<nav
	#navbar
	class="bg-white fixed top-0 w-full border-gray-200 dark:bg-gray-900 rounded-b-md shadow-sm mb-1"
>
	<div
		class="max-w-screen-2xl row flex-wrap items-center justify-content-evenly mx-auto duration-300"
		[class]="isScrolled() ? 'p-2' : 'p-4'"
	>
		<a
			class="flex col-2 items-center justify-center space-x-3 rtl:space-x-reverse"
			routerLink="home"
		>
			<span
				class="text-2xl hover:opacity-70 cursor-pointer duration-300 font-semibold whitespace-nowrap dark:text-white text-blue-600"
				>SOUQ</span
			>
		</a>
		<div class="col-7 relative flex justify-center items-center">
			<div
				class="absolute top-2 left-5 flex justify-center items-center text-gray-500"
			>
				<lucide-icon
					class="text-gray-500"
					[img]="lucideIcons['Search']"
					class="my-icon"
				></lucide-icon>
			</div>
			<input
				class="w-full ps-9"
				type="text"
				pInputText
				[(ngModel)]="q"
				placeholder="What do you think of ? ... "
			/>
			{{ q() }}
		</div>
		<div class="col-3 row justify-center items-center">
			<div
				class="col-2 text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<lucide-icon
					class="text-gray-500 group-hover/link:opacity-70 duration-300"
					[img]="lucideIcons['Heart']"
				></lucide-icon>
				<span
					class="text-nowrap text-inherit group-hover/link:opacity-70 duration-300"
					>My Wishlist</span
				>
			</div>
			<p-divider styleClass="col-1" layout="vertical"></p-divider>
			<div
				class="col-2 text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<lucide-icon
					class="text-gray-500 group-hover/link:opacity-70 duration-300"
					[img]="lucideIcons['ShoppingCart']"
				></lucide-icon>
				<span
					class="text-nowrap text-inherit group-hover/link:opacity-70 duration-300"
					>My Cart</span
				>
			</div>
			<p-divider styleClass="col-1" layout="vertical"></p-divider>
			<div
				class="col-2 text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<lucide-icon
					class="text-gray-500 group-hover/link:opacity-70 duration-300"
					[img]="lucideIcons['CircleUserRound']"
				></lucide-icon>
				<span
					class="text-nowrap text-inherit group-hover/link:opacity-70 duration-300"
					>Me</span
				>
			</div>
		</div>
	</div>
</nav>
