<nav
	#navbar
	class="bg-white p-1 bg-opacity-85 backdrop-blur-sm z-50 fixed top-0 w-dvw border-gray-200 rounded-b-md shadow-sm mb-1"
>
	<div
		[class]="this._NavbarBlankService.isScrolled() ? 'p-2' : 'p-4'"
		class="grid grid-cols-12 justify-center items-center mx-auto gap-3 duration-200"
	>
		<div class="col-span-2">
			<div class="flex justify-center items-center">
				<a
					class="items-center justify-center space-x-3 rtl:space-x-reverse"
					routerLink="home"
				>
					<span
						class="text-3xl hover:opacity-70 cursor-pointer duration-300 font-semibold whitespace-nowrap text-blue-600"
						>SOUQ</span
					>
				</a>
			</div>
		</div>

		<input
			class="col-span-9 justify-self-end md:justify-self-auto md:col-span-7 p-2 border rounded block"
			type="search"
			[(ngModel)]="q"
			placeholder="What do you think of ? ..."
		/>
		<div class="col-span-1">
			<button>
				<i
					class="ri-search-2-line text-2xl cursor-pointer text-blue-700"
				></i>
			</button>
		</div>
		<!-- For Desktop Screen -->
		<div class="md:block hidden col-span-3">
			<div
				class="col-span-1 md:col-span-3 grid grid-cols-3 gap-3 justify-items-center justify-center items-center"
			>
				<div
					routerLink="wishlist"
					routerLinkActive="active"
					class="text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
				>
					<i
						[ngClass]="
							currentRoute() === '/wishlist'
								? 'ri-heart-fill'
								: 'ri-heart-line'
						"
						class="text-2xl text-inherit duration-200"
					></i>
					<span class="text-nowrap text-inherit duration-200"
						>My Wishlist</span
					>
				</div>
				<div
					routerLink="cart"
					routerLinkActive="active"
					class="text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
				>
					<i
						[ngClass]="
							currentRoute() === '/cart'
								? 'ri-shopping-cart-fill'
								: 'ri-shopping-cart-line'
						"
						class="text-2xl text-inherit duration-200"
					></i>
					<span class="text-nowrap text-inherit duration-200"
						>My Cart</span
					>
				</div>
				<div
					routerLink="profile"
					routerLinkActive="active"
					class="text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
				>
					<i
						[ngClass]="
							currentRoute() === '/profile'
								? 'ri-user-fill'
								: 'ri-user-line'
						"
						class="text-2xl text-inherit duration-200"
					></i>
					<span class="text-nowrap text-inherit duration-200"
						>Me</span
					>
				</div>
			</div>
		</div>
	</div>
</nav>

<!-- mobile-navbar -->
<div
	class="bg-white p-1 bg-opacity-85 backdrop-blur-sm z-50 fixed bottom-0 w-full border-gray-200 rounded-t-md shadow-sm"
>
	<div class="md:hidden meus-list">
		<div class="grid grid-cols-4">
			<div
				routerLink="home"
				routerLinkActive="active"
				class="text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<i
					[ngClass]="
						currentRoute() === '/home'
							? 'ri-home-fill'
							: 'ri-home-line'
					"
					class="text-2xl text-inherit duration-200"
				></i>
				<span class="text-nowrap text-inherit duration-200">Home</span>
			</div>
			<div
				routerLink="wishlist"
				routerLinkActive="active"
				class="text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<i
					[ngClass]="
						currentRoute() === '/wishlist'
							? 'ri-heart-fill'
							: 'ri-heart-line'
					"
					class="text-2xl text-inherit duration-200"
				></i>
				<span class="text-nowrap text-inherit duration-200"
					>My Wishlist</span
				>
			</div>
			<div
				routerLink="cart"
				routerLinkActive="active"
				class="text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<i
					[ngClass]="
						currentRoute() === '/cart'
							? 'ri-shopping-cart-fill'
							: 'ri-shopping-cart-line'
					"
					class="text-2xl text-inherit duration-200"
				></i>
				<span class="text-nowrap text-inherit duration-200"
					>My Cart</span
				>
			</div>
			<div
				routerLink="profile"
				routerLinkActive="active"
				class="text-gray-700 flex flex-col justify-center items-center cursor-pointer group/link"
			>
				<i
					[ngClass]="
						currentRoute() === '/profile'
							? 'ri-user-fill'
							: 'ri-user-line'
					"
					class="text-2xl text-inherit duration-200"
				></i>
				<span class="text-nowrap text-inherit duration-200">Me</span>
			</div>
		</div>
	</div>
</div>
